
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0,0,0,.5);
}
.container{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 35%;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.5;
}
.tiptitle{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0 20px 10px;
    border-bottom: 1px solid #0003;
}
input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
}
#serviceQuality{
    width: 90%;
    height: 40px;
}
.totalBill::before{
    content: '';
}
button{
    height: 40px;
    width: 22%;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}